.container {
  display: flex;
  height: 65vh; /* Establecemos la altura del componente al 100% del viewport */
  width: 80%;
  flex-wrap: wrap;
  margin: 1em 2.5em 0.4em 2.5em;
  justify-content: space-around;
}
