@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
 
  font-family: "Poppins", sans-serif;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.wrapper {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.bigtitle{
  font-size: 1.4rem;
  color:  rgb(100, 173, 233);
  text-transform: capitalize;
  line-height: 1.4;
}
.text{
  color: rgb(100, 173, 233);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
  margin: 1.1rem 0 1.5rem
}
.linkHome{
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff;
  background-color: rgb(100, 173, 233);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
  text-decoration: none;
}
.linkHome:hover {
  background-color: white;
  transform: scale(1) !important;
  color: lightseagreen;
}
.right img{
  width: 70%;
  height: 20%;
}